@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	width: 80%;
	margin: 0 auto;
	color: #333;
	background-color: #eee;
	font-size: 14px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

pre {
	white-space: pre-wrap;
}

#global-navi {
	position: relative;
	height: 60px;
	margin: 20px auto;
	background-color: #fff;
}

#global-navi ul {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

#global-navi ul li {
	display: inline-block;
	width: 120px;
	text-align: center;
}

#global-navi ul li a {
	display: block;
}

#global-navi ul li a:hover {
	background-color: #eee;
}

#narrow-form {
	margin: 20px auto;
}

#main {
	margin: 20px auto;
}



#error {
	margin: 20px auto;
	color: #f33;
	font-weight: bold;
	font-style: italic;
	background-color: #fdd;
}

#error ul {
	text-align: center;
}

#message-view {
	margin: 20px auto;
}

#message {
	width: 100%;
	margin: 20px auto;
}

#message .date,
#message #delete {
	text-align: left;
}

#comments {
	margin: 20px 0 20px 300px;
}

#comments .date {
	text-align: right;
}

#delete {
	text-align: right;
}

#message-form {
	text-align: center;
}

#message-form div {
	margin: 20px auto;
}

#users {
	margin: 0 auto;
	text-align: center;
}

#users th, td {
	padding: 10px 20px;
}

#signup-form {
	text-align: center;
}

#signup-form div {
	margin: 20px auto;
}

#copy {
	height: 80px;
	text-align: center;
	background-color: #ddd;
}

#copy small {
	line-height: 80px;
}

.form-content {
	display: block;
	height: 40px;
	text-align: center;
}

.form-content label,
.form-content input {
	display: inline-block;
}

.user-name {
	font-style: italic;
}
